<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey,<%= @user.name %> - check out this new book!</h1>
    <p>click the link below to see all the details</p>
    <%#= link_to "" %>
  </body>
</html>